<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% tasks.forEach(function(task) { %>
        <form action="/" method="POST">
            <input type="hidden" name="taskId" value="<%= task.id %>">
            <input type="text" name="taskItem" value="<%= task.title %>">
            <input type="submit" formaction="/tasks/update" formmethod="post" value="修改">
            <input type="submit" formaction="/tasks/delete" formmethod="post" value="刪除">
        </form>
    <% }); %> 
</body>
</html>