* {
    font-family: '微軟正黑體';
    /* border: 1px solid #000; */
    outline: none;
}

body,html {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #b83b5e;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f08a5d;

}
.box{
    min-width: 300px;
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    box-sizing: border-box;
    background-color: #6a2c70;
    border-radius: 5px;
    overflow: hidden;

    box-shadow: 0px 0px  20px rgb(249, 237, 105,10%);
    transition: 0.5s;
}

.box:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 0px  20px rgb(249, 237, 105,30%);
}
h1, h2{
    color: #f9ed69;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    text-align: left;
    list-style: none;
    letter-spacing: 1px;
    padding: 5px;  
}


/* Login */
#loginSignupForm {
    background-color: #f08a5d;
    color: #6a2c70;
    width: 100%;
    padding: 10px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.loginSignupSend {
    font-size: 800;
    padding: 10px 15px;

    border: 0px ;
    border-radius: 5px;

    background-color: #6a2c70;
    color: #f9ed69;
}


/*  */
a {
    padding: 5px 10px;
    font-size: 20px;
    
    border-radius: 5px;
    text-decoration: none;
    color: #f08a5d;
    background-color: #6a2c70;
}
span{
    white-space: pre-wrap;
}
p{
    font-size: 20px;
    font-weight: 800;
}

/* index Message  */
.logout{
    background-color: #f9ed69;
    padding: 5px 10px;
    margin: 15px;
}
.txtInput {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    white-space: pre-wrap;
}
.mesSend{
    padding: 7px 10px;
    border-radius: 5px;

    font-weight: 600;

    background-color: #f08a5d;
    color: #6a2c70;
    transition: 0.3s;
}
.mesSend:hover{
    box-shadow: 0px 0px 10px white;
}

.message{
    transition: 0.5s;
}
.message:hover{
    color: white;
}
.edit, .delete{
    margin-left: 5px;
    padding: 10px;
    
    border: 3px white;
    border-radius: 5px;

    background-color: #6a2c70;
    color: #f08a5d;
    font-size: 15px;
    font-weight: normal;
    transition: 0.5s;
}
.edit, .delete:hover{
    color: white;
}
.btn{
    letter-spacing: 2px;

    border-radius: 5px;
    border: 0;

    
}


/* item */
#itembox{
    margin: 10px;
}

